extends layout

block content
  #recommended-item-carousel.banner.carousel.slide(data-ride='carousel')
    .slides.carousel-inner
      .item.active
        img(src='/scholarship/img/home/slider/slider_image_1.jpg', alt='')
        .banner_caption
          .container
            .row
              .col-xs-12
                .caption_inner.animated.fadeInUp
                  h1 Welcome To Royal College
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.
                  a(href='#') Learn More
                // end caption_inner
            // end row
          // end container
        // end banner_caption
      .item
        img(src='/scholarship/img/home/slider/slider_image_2.jpg', alt='')
        .banner_caption
          .container
            .row
              .col-xs-12
                .caption_inner.animated.fadeInUp
                  h1 Admission going on
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.
                  a(href='#') Apply Now
                // end caption_inner
            // end row
          // end container
        // end banner_caption
      .item
        img(src='/scholarship/img/home/slider/slider_image_3.jpg', alt='')
        .banner_caption
          .container
            .row
              .col-xs-12
                .caption_inner.animated.fadeInUp
                  h1 Arrange a tour to our college
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.
                  a(href='#') Contact Us
                // end caption_inner
            // end row
          // end container
        // end banner_caption
      .item
        img(src='/scholarship/img/home/slider/slider_image_4.jpg', alt='')
        .banner_caption
          .container
            .row
              .col-xs-12
                .caption_inner.animated.fadeInUp
                  h1 Find your dream course
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.
                  a(href='#') Find Course
                // end caption_inner
            // end row
          // end container
        // end banner_caption
    a.left.recommended-item-control(href='#recommended-item-carousel', data-slide='prev')
      img(src='/scholarship/img/home/slider/prev.png')
    a.right.recommended-item-control(href='#recommended-item-carousel', data-slide='next')
      img(src='/scholarship/img/home/slider/next.png')
    // end banner
    .aboutArea
    .container
      .row.clearfix
        .col-xs-12
          .aboutTitle
            h2 Our Popular Courses
          // aboutTitle
        // col-sm-3 col-xs-12
      // row clearfix
      .about_inner.clearfix
        .row
          .col-xs-6.col-sm-3
            .aboutImage
              a(href='#')
                img.img-responsive(src='/scholarship/img/home/learn/learn_1.jpg', alt='')
                .overlay
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.
                span.captionLink
                  | English Literature
                  span
            // aboutImage
          .col-xs-6.col-sm-3
            .aboutImage
              a(href='#')
                img.img-responsive(src='/scholarship/img/home/learn/learn_2.jpg', alt='')
                .overlay
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.
                span.captionLink
                  | Business Administration
                  span
            // aboutImage
          .col-xs-6.col-sm-3
            .aboutImage
              a(href='#')
                img.img-responsive(src='/scholarship/img/home/learn/learn_3.jpg', alt='')
                .overlay
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.
                span.captionLink
                  | Computer Science
                  span
            // aboutImage
          .col-xs-6.col-sm-3
            .aboutImage
              a(href='#')
                img.img-responsive(src='/scholarship/img/home/learn/learn_4.jpg', alt='')
                .overlay
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.
                span.captionLink
                  | Mathematics
                  span
            // aboutImage
        // row
      // about_inner
    // container
    // aboutArea
    .mainContent.clearfix
      .container
        .row.clearfix
          .col-sm-8.col-xs-12
            .videoNine.clearfix
              .videoArea.clearfix
                h3 Welcome To Royal College
                .row
                  .col-lg-8.col-md-7.col-xs-12.videoLeft
                    img(src='/scholarship/img/home/video/video_image.jpg', data-video='https://www.youtube.com/embed/oOMcZoeEK0A?autoplay=1')
                  // videoLeft
                  .col-lg-4.col-md-5.col-xs-12.videoRight
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.
                    a.btn.btn-block.learnBtn(href='#') Learn More
                  // videoRight
                // row
              // videoArea
              .related_post_sec.single_post
                h3 Recent News
                ul
                  li
                    span.rel_thumb
                      a(href='#')
                        img(src='/scholarship/img/news/related_thumb_01.png', alt='')
                    // end rel_thumb
                    .rel_right
                      h4
                        a(href='#') Lorem Ipsum dolar simt Amet simply dummy Text Lorem Ipsum dolar
                      .meta
                        span.author
                          | Posted in: 
                          a(href='#') Update
                        span.date
                          | on: 
                          a(href='#') January 24, 2015
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...
                    // end rel right
                  li
                    span.rel_thumb
                      a(href='#')
                        img(src='/scholarship/img/news/related_thumb_02.jpg', alt='')
                    // end rel_thumb
                    .rel_right
                      h4
                        a(href='#') Lorem Ipsum dolar simt Amet simply dummy Text Lorem Ipsum dolar
                      .meta
                        span.author
                          | Posted in: 
                          a(href='#') Exam
                        span.date
                          | on: 
                          a(href='#') January 24, 2015
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...
                    // end rel right
              // related_post_sec
            // videoNine
          // col-sm-8 col-xs-12
          .col-sm-4.col-xs-12
            .formArea.clearfix
              .formTitle
                h3 Find a Course
                p
                  | Offered in small class sizes with great emphasis on the demands of the specification and exam technique.
              // formTitle
              form(action='#', method='post')
                .selectBox.clearfix
                  select#guiest_id1(name='guiest_id1')
                    option(value='0') Location
                    option(value='1') Location_1
                    option(value='2') Location_2
                    option(value='3') Location_3
                // selectBox
                .selectBox.clearfix
                  select#guiest_id2(name='guiest_id2')
                    option(value='0') Level
                    option(value='1') Level_1
                    option(value='2') Level_2
                    option(value='3') Level_3
                // selectBox
                .form-group
                  input#exampleInputEmail1.form-control(type='text', placeholder='Course Name')
                button.btn.btn-default.btn-block.commonBtn(type='submit') Search
            // formArea
            .list_block.related_post_sec
              .upcoming_events
                h3 Upcoming Events
                ul
                  li.related_post_sec.single_post
                    span.date-wrapper
                      span.date
                        span 24
                        | January
                    .rel_right
                      h4
                        a(href='#') Offered in small class sizes with great emphasis...
                      .meta
                        span.place
                          i.fa.fa-map-marker
                          | Main Campus
                        span.event-time
                          i.fa.fa-clock-o
                          | 11.00 pm
                  li.related_post_sec.single_post
                    span.date-wrapper
                      span.date
                        span 24
                        | January
                    .rel_right
                      h4
                        a(href='#') Offered in small class sizes with great emphasis...
                      .meta
                        span.place
                          i.fa.fa-map-marker
                          | Main Campus
                        span.event-time
                          i.fa.fa-clock-o
                          | 11.00 pm
                  li.related_post_sec.single_post
                    span.date-wrapper
                      span.date
                        span 24
                        | January
                    .rel_right
                      h4
                        a(href='#') Offered in small class sizes with great emphasis...
                      .meta
                        span.place
                          i.fa.fa-map-marker
                          | Main Campus
                        span.event-time
                          i.fa.fa-clock-o
                          | 11.00 pm
                a.btn.btn-default.btn-block.commonBtn(href='#') More Events
            // end list_block
          // col-sm-4 col-xs-12
        // row clearfix
      // container
      // mainContent
    .count.clearfix.wow.fadeIn.paralax(data-wow-delay='100ms', style='background-image: url(/scholarship/img/home/paralax/paralax03.jpg);')
      .container
        .row
          .col-xs-6.col-sm-3
            .text-center
              .icon
                i.fa.fa-group
              .counter
                span.timer 8298
              .seperator-small
              p Students
          // col-sm-3
          .col-xs-6.col-sm-3
            .text-center
              .icon
                i.fa.fa-book
              .counter
                span.timer 142
              .seperator-small
              p Courses
          // col-sm-3
          .col-xs-6.col-sm-3
            .text-center
              .icon
                i.fa.fa-male
              .counter
                span.timer 1047
              .seperator-small
              p Stuffs
          // col-sm-3
          .col-xs-6.col-sm-3
            .text-center
              .icon
                i.fa.fa-map-marker
              .counter
                span.timer 10
              .seperator-small
              p Locations
          // col-sm-3
        // row
        .paralax-text.text-center
          h2 Do you like this template?
          p
            | nec congue consequat risus, nec volutpat enim tempus id. Proin et sapien eget diam ullamcorper consectetur. Sed blandit imperdiet mauris. Mauris eleifend faucib
          p ipsum quis varius. Quisque pharetra leo erat, non eleifend nibh interdum quis.
          a.btn.btn-default.commonBtn(href='#') Buy now
        // row
      // container
      // count
    .testimonial-section.clearfix
      .container
        .row
          .col-xs-12.col-sm-6
            .testimonial
              .carousal_content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              .carousal_bottom
                .thumb
                  img(src='/scholarship/img/about/SARA-LISBON_Art-Student.jpg', alt='', draggable='false')
                .thumb_title
                  span.author_name Sara Lisbon
                  span.author_designation
                    | Student
                    a(href='#')  English Literature
            // testimonial
          // col-xs-12
          .col-xs-12.col-sm-6
            .features
              h3 Why Choose Us?
              ul
                li
                  i.fa.fa-check-circle-o
                  | It’s a complete solution for your college website
                li
                  i.fa.fa-check-circle-o
                  | PSD file included to help you customize the design better
                li
                  i.fa.fa-check-circle-o
                  | SASS file included for unlimited hasel free style customization
                li
                  i.fa.fa-check-circle-o
                  | Theme option switcher for live cusomization preview
                li
                  i.fa.fa-check-circle-o
                  | 24/7 Support
          // col-xs-12
        // row
      // container
      // testimonial-section
    
